default:
  base_config:
    env_name: Roller
    unity_args:
      build_path:
        win32: C:\Users\fisher\Documents\Unity\win-RL-Envs\RLEnvironments.exe
        linux: /data/linux-RL-Envs/RLEnvironments.x86_64

    n_envs: 10
    max_iter: 2000
    reset_on_iteration: true

  reset_config:
    force_reset: true

  replay_config:
    beta: 0.1
    beta_increment_per_sampling: 0

  sac_config:
    use_replay_buffer: true # Whether using prioritized replay buffer
    write_summary_per_step: 10

    n_step: 5

    tau: 0.5

    init_log_alpha: -4.6

    v_lambda: 0.99
    clip_epsilon: 1.

  oc_config:
    num_options: 2

hard_rnn:
  base_config:
    name: "hard_rnn_{time}"
    max_iter: 500

  sac_config:
    nn: nn_hard_rnn
    burn_in_step: 10
    n_step: 5
    seq_encoder: RNN

    tau: 0.005

hard_attn:
  base_config:
    name: "hard_attn_{time}"
    max_iter: 500

  sac_config:
    nn: nn_hard_attn
    burn_in_step: 128
    n_step: 5
    seq_encoder: ATTN

    tau: 0.005

  oc_config:
    option_burn_in_step: 10

visual:
  base_config:
    env_name: RollerVisual
    unity_args:
      no_graphics: false

  sac_config:
    nn: nn_visual
    n_step: 5

    tau: 0.005

    init_log_alpha: -2.3

    clip_epsilon: 0.2

hard_oc_attn:
  base_config:
    name: "hard_oc_attn_{time}"
    max_iter: 500

  sac_config:
    nn: nn_hard_oc_attn
    burn_in_step: 0
    n_step: 5
    seq_encoder: ATTN

    tau: 0.005

  oc_config:
    num_options: 2
    use_dilation: true
    option_burn_in_step: 0
    terminal_entropy: 0.
    option_seq_encoder: null
